@import 'width&height';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

input.hide{
    display: none;
}


.hotline {
    width: 100vw;
    height: $hotline-height;
    text-align: right;
    background: linear-gradient(to bottom, #73b0c9, $color-partials);

    .hotline_link {
        text-decoration: none;
        color: #fff;

        .hotline_email:hover,
        .hotline_phone:hover {
            color: #5D5C61;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        height: 0;
    }

    to {
        opacity: 1;
        height: $navbars-height;
    }
}

nav.navbar_header {
    background: $color-partials;
    height: $navbars-height;
    z-index: 1000;
    width: 100%;
    top: 0;
    .navbar-brand {
        color: white;
        font-size: 1.8rem;
    }

    .navbar-brand:hover {
        color: rgb(241, 241, 241);
    }

    //Control heading
    .control_heading {
        .nav-item.active {
            font-weight: bold;

            .nav-link {
                color: white;
                font-size: 1.3rem;
            }
        }

        .nav-link {
            color: white;
            font-size: 1.1rem;
        }

        .nav-link:hover {
            color: rgb(241, 241, 241);
        }

        .dropdown-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            span.oi {
                font-size: 0.7rem;
                color: #999;
            }
        }
    }

    //Search Input
    input.input_search {
        opacity: 0;
        order: 1;
        border-radius: 2.5rem;
        outline: none;
        position: relative;
        overflow: hidden;
        user-select: none;
        transform: translateX(-100%);
        transition: all 0.5s linear;
        z-index: -1;
    }

    .btn_submitSearch::before {
        content: "";
        position: absolute;
        width: 35px;
        height: 35px;
        background-color: transparent;
        right: 75%;
        top: 0;

    }

    button.btn_submitSearch {
        border-radius: 50%;
        order: 2;
        position: relative;
        padding: 0;
        width: 2.8rem;
        height: 2.8rem;
        color: #555;
    }

    button.btn_submitSearch:hover~input.input_search,
    input.input_search:hover,
    input.input_search:focus {
        opacity: 1;
        overflow: auto;
        transform: translateX(0);
        z-index: 1;
    }
// cart list
@keyframes fadeCart{
    0%{
        display: none;
        opacity: 0;
        transform: translatex(100%);
    }
    1%{
        display: block;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform:none;
    }
}
    .menu_cart{
        position: relative;
        .cartBox.show{
            display: block;
        }
        .cartBox{
            display: none;
            position: absolute;
            top: 110%;
            left: -250%;
            height: fit-content;
            max-height: 80vh;
            width: 30rem;
            padding:0.5rem;
            background-color: white;
            z-index: 100;
            border: 1px solid rgb(228, 228, 228);
            border-radius: 5px;
            animation: fadeCart 0.5s linear;
            h3{
                border-bottom: 1px solid #999;
            }
            .cart_list{
                display: flex;
                flex-direction: column;
                gap: 10px;
                max-height: 65vh;
                overflow-y: auto;
                margin: 0.5rem 0;
                .cart_item{
                    width: 100%;
                    height: 25%;
                    display: flex;
                    gap: 10px;
                    border-bottom: 0.1rem solid rgb(201, 201, 201);
                    .cart_item-img{
                        width: 35%;
                        height: 100%;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            object-position: center;
                        }
                    }
                    .cart_item-info{
                        display: flex;
                        flex-direction: column;
                        gap: 0.2rem;
                        flex:1;
                        .item_name{
                            color: #000;
                            font-size: 1.5rem;
                        }
                        .item_type{
                            font-size: 0.8rem;
                            color: #999;
                        }
                        .item_count{
                            display: flex;
                            gap: 0.5rem;
                            font-size: 1.2rem;
                            cursor: pointer;
                            strong{
                                border: 1px solid #999;
                                line-height: 1.5rem;
                                font-size: 1rem;
                                padding: 0 0.4rem;
                                width: 2.5rem;
                                text-align: center;
                            }
                            span{
                                width: 1.5rem;
                                text-align: center;
                                cursor: pointer;
                            }
                        }

                    }
                }
            }
        }
        .btn_cart{
        border-radius: 50%;
            margin-right: 0.5rem;
            padding: 0.2rem 0 0;
            width: 38px;
            height: 38px;
            font-size: 1.2rem;
            color: #555;
    }
    }
    

    //Menu Setting
    .menu_setting-dropdown {
        position: relative;

        #menuSettingDropdown {
            border-radius: 50%;
            margin: 0;
            padding: 0.2rem 0 0;
            width: 38px;
            height: 38px;
            font-size: 1.2rem;
            color: #555;
        }

        .dropdown-menu {
            min-width: 7rem;
        }
    }
}

.banner-sale {
    padding: 0;

    .carousel-item img {
        width: 100%;
        height: $banner-height;
    }
}

.listShortcut_productSort {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 5rem auto;
    gap: 2rem;
    align-items: center;

    .itemShortcut_productSort {
        width: calc(25% - 1.5rem);
        height: 7rem;
        padding: 0.5rem;
        border: 2px solid #888;

        .itemShortcut--link {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            overflow: hidden;

            .itemShortcut--img {
                height: 100%;
                width: 50%;
                object-fit: contain;
            }

            .itemShortcut--nameSort {
                width: 50%;
                text-align: center;
                color: black;
                font-weight: bold;
            }
        }
    }
}

.newArrival_products {
    width: 100%;
    text-align: center;
    margin-bottom: 2.5rem;

    .banner_newArrival {
        width: 100%;

        .img_newArrival {
            width: 100%;
            object-fit: contain;
        }
    }

    .listProducts_newArrival {
        margin: 5rem 0 2.5rem;
        flex-wrap: wrap;
        gap: 2rem;
        text-align: left;

        .card {
            flex: calc(25% - 1.5rem) 0 0;
            border: none;

            .card-img-top{
                width:255px;
                height:280px;
                object-fit: contain;
                object-position: center;
            }

            // width: calc();
            .card-title {
                font-size: 1.2rem;
                font-weight: bold;
                color: black;
            }

            .card-text {
                font-size: 1rem;
                color: rgb(255, 80, 80);
                font-weight: 600;
            }

            .card-title:hover {
                color: #888;
            }

            .card-footer{
                display: flex;
                gap: 25px;
                flex-wrap: nowrap;
                overflow: hidden;
                .card-img-footer{
                    width: 60px;
                    height:60px;
                    object-fit: contain;
                    object-position: center;
                }
            }
        }
    }

    .allProducts_newArrival {
        color: #444;
        font-weight: 600;
    }

    .allProducts_newArrival:hover {
        color: #000;
    }
}

.main_footer {
    background: $color-partials;
    padding: 2rem;
    color: #fff;

    .store_location {
        display: flex;
        gap: 1rem;

        .location {
            list-style: none;
            width: 33.3334%;

            .store {
                font-size: 1rem;

                .hotline_footer {
                    gap: 1rem;
                }

                a i {
                    font-size: 2.5rem;
                    color: #fff;
                }
            }

            .policy_link {
                font-size: 1.5rem;
                color: #fff;
                font-weight: 600;
                line-height: 2rem;

                i {
                    font-size: 2.5rem;
                }
            }

            a.policy_link:hover {
                color: #5D5C61;
            }
        }
    }
}

//Products/create

.list_imgUpload{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    padding:1rem;
}

//showProducts

.paginationHeader{
    display: flex;
    background:rgb(226, 226, 226);
    justify-content: center;
    gap:5px;
}

.productsBody{
    height: 80vh;
    width: 100%;
    display: flex;
    gap: 15px;
    .slide_imgProducts{
        height: 100%;
        width: 75%;
        gap:50px;
        display: flex;
        .slide_column{
            width: 20%;
            height:fit-content;
            max-height: 95%;
            display: flex;
            flex-direction: column;
            position: relative;
           .list_img{
               height:95%;
               overflow: hidden;
            .imgBox:first-child{
                margin-top: 15px;
            }
            .imgBox{
                margin-bottom: 10px;
                transition: all 0.5s linear;
            }
            .imgBox.active{
                border: 1px solid rgb(226, 226, 226);
            }
            .imgBox img{
                height: 150px;
                width: 155px;
                object-fit: contain;
                object-position: center;
            }
           }
            a:first-child{
                margin: 0 auto;
            }
            a:last-child{
                margin: 0 auto;
                position: relative;
                top: 5px;
            }
        }
        .slide_row{
            width: 80%;
            display: flex;
            position: relative;
            overflow: hidden;
            .imgBox{
                margin: 0 15px;
                flex-basis: 100%;
                height: 100%;
                transition: all 0.5s linear;
            }
            .imgBox img{
                // height: 150px;
                width: 605px;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
        .control_slide{
            position:absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }

    .info_products{
        width:25%;
        display: flex;
        flex-direction:column;
        .stroke{
            width: 100%;
            height: 1px;
            background:rgb(201, 201, 201);
            margin-bottom: 0.5rem;
        }
        .productsPrice{
            margin-bottom: 0.5rem;
            color:#000;
            font-weight: bold;
            font-size: 1.2rem;
        }
        .list_color,
        .list_size{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
        }
        .listHeading{
            flex-basis: 100%;
        }
        .colorProducts,
        .sizeProducts{
            padding: 0.3rem 0.5rem;
            border: 1px solid #999;
            cursor: pointer;
        }
        .colorProducts.active,
        .sizeProducts.active{
            border-color: #000;
            background-color: rgb(216, 216, 216);
        }
    }
}
