* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a:hover {
  text-decoration: none; }

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black; }

input.hide {
  display: none; }

.hotline {
  width: 100vw;
  height: 3vh;
  text-align: right;
  background: linear-gradient(to bottom, #73b0c9, #569BDB); }
  .hotline .hotline_link {
    text-decoration: none;
    color: #fff; }
    .hotline .hotline_link .hotline_email:hover,
    .hotline .hotline_link .hotline_phone:hover {
      color: #5D5C61; }

@keyframes fadeIn {
  from {
    opacity: 0;
    height: 0; }
  to {
    opacity: 1;
    height: 7vh; } }

nav.navbar_header {
  background: #569BDB;
  height: 7vh;
  z-index: 1000;
  width: 100%;
  top: 0; }
  nav.navbar_header .navbar-brand {
    color: white;
    font-size: 1.8rem; }
  nav.navbar_header .navbar-brand:hover {
    color: #f1f1f1; }
  nav.navbar_header .control_heading .nav-item.active {
    font-weight: bold; }
    nav.navbar_header .control_heading .nav-item.active .nav-link {
      color: white;
      font-size: 1.3rem; }
  nav.navbar_header .control_heading .nav-link {
    color: white;
    font-size: 1.1rem; }
  nav.navbar_header .control_heading .nav-link:hover {
    color: #f1f1f1; }
  nav.navbar_header .control_heading .dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    nav.navbar_header .control_heading .dropdown-item span.oi {
      font-size: 0.7rem;
      color: #999; }
  nav.navbar_header input.input_search {
    opacity: 0;
    order: 1;
    border-radius: 2.5rem;
    outline: none;
    position: relative;
    overflow: hidden;
    user-select: none;
    transform: translateX(-100%);
    transition: all 0.5s linear;
    z-index: -1; }
  nav.navbar_header .btn_submitSearch::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: transparent;
    right: 75%;
    top: 0; }
  nav.navbar_header button.btn_submitSearch {
    border-radius: 50%;
    order: 2;
    position: relative;
    padding: 0;
    width: 2.8rem;
    height: 2.8rem;
    color: #555; }
  nav.navbar_header button.btn_submitSearch:hover ~ input.input_search,
  nav.navbar_header input.input_search:hover,
  nav.navbar_header input.input_search:focus {
    opacity: 1;
    overflow: auto;
    transform: translateX(0);
    z-index: 1; }

@keyframes fadeCart {
  0% {
    display: none;
    opacity: 0;
    transform: translatex(100%); }
  1% {
    display: block; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    transform: none; } }
  nav.navbar_header .menu_cart {
    position: relative; }
    nav.navbar_header .menu_cart .cartBox.show {
      display: block; }
    nav.navbar_header .menu_cart .cartBox {
      display: none;
      position: absolute;
      top: 110%;
      left: -250%;
      height: fit-content;
      max-height: 80vh;
      width: 30rem;
      padding: 0.5rem;
      background-color: white;
      z-index: 100;
      border: 1px solid #e4e4e4;
      border-radius: 5px;
      animation: fadeCart 0.5s linear; }
      nav.navbar_header .menu_cart .cartBox h3 {
        border-bottom: 1px solid #999; }
      nav.navbar_header .menu_cart .cartBox .cart_list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-height: 65vh;
        overflow-y: auto;
        margin: 0.5rem 0; }
        nav.navbar_header .menu_cart .cartBox .cart_list .cart_item {
          width: 100%;
          height: 25%;
          display: flex;
          gap: 10px;
          border-bottom: 0.1rem solid #c9c9c9; }
          nav.navbar_header .menu_cart .cartBox .cart_list .cart_item .cart_item-img {
            width: 35%;
            height: 100%;
            overflow: hidden; }
            nav.navbar_header .menu_cart .cartBox .cart_list .cart_item .cart_item-img img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              object-position: center; }
          nav.navbar_header .menu_cart .cartBox .cart_list .cart_item .cart_item-info {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
            flex: 1; }
            nav.navbar_header .menu_cart .cartBox .cart_list .cart_item .cart_item-info .item_name {
              color: #000;
              font-size: 1.5rem; }
            nav.navbar_header .menu_cart .cartBox .cart_list .cart_item .cart_item-info .item_type {
              font-size: 0.8rem;
              color: #999; }
            nav.navbar_header .menu_cart .cartBox .cart_list .cart_item .cart_item-info .item_count {
              display: flex;
              gap: 0.5rem;
              font-size: 1.2rem;
              cursor: pointer; }
              nav.navbar_header .menu_cart .cartBox .cart_list .cart_item .cart_item-info .item_count strong {
                border: 1px solid #999;
                line-height: 1.5rem;
                font-size: 1rem;
                padding: 0 0.4rem;
                width: 2.5rem;
                text-align: center; }
              nav.navbar_header .menu_cart .cartBox .cart_list .cart_item .cart_item-info .item_count span {
                width: 1.5rem;
                text-align: center;
                cursor: pointer; }
    nav.navbar_header .menu_cart .btn_cart {
      border-radius: 50%;
      margin-right: 0.5rem;
      padding: 0.2rem 0 0;
      width: 38px;
      height: 38px;
      font-size: 1.2rem;
      color: #555; }
  nav.navbar_header .menu_setting-dropdown {
    position: relative; }
    nav.navbar_header .menu_setting-dropdown #menuSettingDropdown {
      border-radius: 50%;
      margin: 0;
      padding: 0.2rem 0 0;
      width: 38px;
      height: 38px;
      font-size: 1.2rem;
      color: #555; }
    nav.navbar_header .menu_setting-dropdown .dropdown-menu {
      min-width: 7rem; }

.banner-sale {
  padding: 0; }
  .banner-sale .carousel-item img {
    width: 100%;
    height: 90vh; }

.listShortcut_productSort {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 5rem auto;
  gap: 2rem;
  align-items: center; }
  .listShortcut_productSort .itemShortcut_productSort {
    width: calc(25% - 1.5rem);
    height: 7rem;
    padding: 0.5rem;
    border: 2px solid #888; }
    .listShortcut_productSort .itemShortcut_productSort .itemShortcut--link {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      overflow: hidden; }
      .listShortcut_productSort .itemShortcut_productSort .itemShortcut--link .itemShortcut--img {
        height: 100%;
        width: 50%;
        object-fit: contain; }
      .listShortcut_productSort .itemShortcut_productSort .itemShortcut--link .itemShortcut--nameSort {
        width: 50%;
        text-align: center;
        color: black;
        font-weight: bold; }

.All_products {
  width: 100%;
  text-align: center;
  margin: 2.5rem auto 2rem; }
  .All_products .listProducts_All {
    flex-wrap: wrap;
    gap: 2rem;
    text-align: left;
    margin-bottom: 2rem; }
    .All_products .listProducts_All .card {
      flex: calc(25% - 1.5rem) 0 0;
      border: none; }
      .All_products .listProducts_All .card .card-img-top {
        width: 255px;
        height: 280px;
        object-fit: contain;
        object-position: center; }
      .All_products .listProducts_All .card .card-title {
        font-size: 1.2rem;
        font-weight: bold;
        color: black; }
      .All_products .listProducts_All .card .card-text {
        font-size: 1rem;
        color: #ff5050;
        font-weight: 600; }
      .All_products .listProducts_All .card .card-title:hover {
        color: #888; }
      .All_products .listProducts_All .card .card-footer {
        display: flex;
        gap: 5px;
        flex-wrap: nowrap;
        overflow: hidden; }
        .All_products .listProducts_All .card .card-footer .card-img-footer {
          width: 60px;
          height: 60px;
          object-fit: contain;
          object-position: center; }

.newArrival_products {
  width: 100%;
  text-align: center;
  margin-bottom: 2.5rem; }
  .newArrival_products .banner_newArrival {
    width: 100%; }
    .newArrival_products .banner_newArrival .img_newArrival {
      width: 100%;
      object-fit: contain; }
  .newArrival_products .listProducts_newArrival {
    margin: 5rem 0 2.5rem;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: left; }
    .newArrival_products .listProducts_newArrival .card {
      flex: calc(25% - 1.5rem) 0 0;
      border: none; }
      .newArrival_products .listProducts_newArrival .card .card-img-top {
        width: 255px;
        height: 280px;
        object-fit: contain;
        object-position: center; }
      .newArrival_products .listProducts_newArrival .card .card-title {
        font-size: 1.2rem;
        font-weight: bold;
        color: black; }
      .newArrival_products .listProducts_newArrival .card .card-text {
        font-size: 1rem;
        color: #ff5050;
        font-weight: 600; }
      .newArrival_products .listProducts_newArrival .card .card-title:hover {
        color: #888; }
      .newArrival_products .listProducts_newArrival .card .card-footer {
        display: flex;
        gap: 5px;
        flex-wrap: nowrap;
        overflow: hidden; }
        .newArrival_products .listProducts_newArrival .card .card-footer .card-img-footer {
          width: 60px;
          height: 60px;
          object-fit: contain;
          object-position: center; }
  .newArrival_products .allProducts_newArrival {
    color: #444;
    font-weight: 600; }
  .newArrival_products .allProducts_newArrival:hover {
    color: #000; }

.main_footer {
  background: #569BDB;
  padding: 2rem;
  color: #fff; }
  .main_footer .store_location {
    display: flex;
    gap: 1rem; }
    .main_footer .store_location .location {
      list-style: none;
      width: 33.3334%; }
      .main_footer .store_location .location .store {
        font-size: 1rem; }
        .main_footer .store_location .location .store .hotline_footer {
          gap: 1rem; }
        .main_footer .store_location .location .store a i {
          font-size: 2.5rem;
          color: #fff; }
      .main_footer .store_location .location .policy_link {
        font-size: 1.5rem;
        color: #fff;
        font-weight: 600;
        line-height: 2rem; }
        .main_footer .store_location .location .policy_link i {
          font-size: 2.5rem; }
      .main_footer .store_location .location a.policy_link:hover {
        color: #5D5C61; }

.list_imgUpload {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 1rem; }

.paginationHeader {
  display: flex;
  background: #e2e2e2;
  justify-content: center;
  gap: 5px; }

.productsBody {
  height: 80vh;
  width: 100%;
  display: flex;
  gap: 15px; }
  .productsBody .slide_imgProducts {
    height: 100%;
    width: 75%;
    gap: 50px;
    display: flex; }
    .productsBody .slide_imgProducts .slide_column {
      width: 20%;
      height: fit-content;
      max-height: 95%;
      display: flex;
      flex-direction: column;
      position: relative; }
      .productsBody .slide_imgProducts .slide_column .list_img {
        height: 95%;
        overflow: hidden; }
        .productsBody .slide_imgProducts .slide_column .list_img .imgBox:first-child {
          margin-top: 15px; }
        .productsBody .slide_imgProducts .slide_column .list_img .imgBox {
          margin-bottom: 10px;
          transition: all 0.5s linear; }
        .productsBody .slide_imgProducts .slide_column .list_img .imgBox.active {
          border: 1px solid #e2e2e2; }
        .productsBody .slide_imgProducts .slide_column .list_img .imgBox img {
          height: 150px;
          width: 155px;
          object-fit: contain;
          object-position: center; }
      .productsBody .slide_imgProducts .slide_column a:first-child {
        margin: 0 auto; }
      .productsBody .slide_imgProducts .slide_column a:last-child {
        margin: 0 auto;
        position: relative;
        top: 5px; }
    .productsBody .slide_imgProducts .slide_row {
      width: 80%;
      display: flex;
      position: relative;
      overflow: hidden; }
      .productsBody .slide_imgProducts .slide_row .imgBox {
        margin: 0 15px;
        flex-basis: 100%;
        height: 100%;
        transition: all 0.5s linear; }
      .productsBody .slide_imgProducts .slide_row .imgBox img {
        width: 605px;
        height: 100%;
        object-fit: contain;
        object-position: center; }
    .productsBody .slide_imgProducts .control_slide {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%; }
  .productsBody .info_products {
    width: 25%;
    display: flex;
    flex-direction: column; }
    .productsBody .info_products .stroke {
      width: 100%;
      height: 1px;
      background: #c9c9c9;
      margin-bottom: 0.5rem; }
    .productsBody .info_products .productsPrice {
      margin-bottom: 0.5rem;
      color: #000;
      font-weight: bold;
      font-size: 1.2rem; }
    .productsBody .info_products .list_color,
    .productsBody .info_products .list_size {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem; }
    .productsBody .info_products .listHeading {
      flex-basis: 100%; }
    .productsBody .info_products .colorProducts,
    .productsBody .info_products .sizeProducts {
      padding: 0.3rem 0.5rem;
      border: 1px solid #999;
      cursor: pointer; }
    .productsBody .info_products .colorProducts.active,
    .productsBody .info_products .sizeProducts.active {
      border-color: #000;
      background-color: #d8d8d8; }

.store-policy {
  display: flex;
  justify-content: space-between; }
  .store-policy ul {
    list-style: none; }

.banner-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 2rem 0; }
  .banner-footer .box-footer {
    border: 1px solid #000;
    text-align: left;
    width: 33%;
    padding: 0.5rem;
    display: flex;
    align-items: center; }
    .banner-footer .box-footer i.icon {
      width: 20%;
      font-size: 2.5rem;
      line-height: 2.5rem; }
    .banner-footer .box-footer h4 {
      margin-bottom: 0.2rem; }

.Cart_list {
  display: flex;
  gap: 25px;
  margin: 1.5rem auto; }
  .Cart_list .infomation_form {
    width: 50%; }
    .Cart_list .infomation_form .shipper {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px; }
  .Cart_list .form_carlist {
    width: 50%; }
    .Cart_list .form_carlist .cart_list {
      list-style: none;
      height: 70vh;
      max-height: 70vh;
      overflow-y: auto;
      padding: 0 1rem; }
      .Cart_list .form_carlist .cart_list .cart_item {
        display: flex;
        height: 20%;
        gap: 20px;
        border-bottom: 1px solid #d6d6d6;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem; }
        .Cart_list .form_carlist .cart_list .cart_item .cart_item-img {
          width: 25%;
          height: 100%; }
          .Cart_list .form_carlist .cart_list .cart_item .cart_item-img .item_img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center; }
        .Cart_list .form_carlist .cart_list .cart_item .cart_item-info {
          display: flex;
          align-items: right;
          justify-content: space-around;
          flex-direction: column;
          flex: 1; }
          .Cart_list .form_carlist .cart_list .cart_item .cart_item-info .item_name {
            color: #000000;
            font-size: 1.6rem; }
          .Cart_list .form_carlist .cart_list .cart_item .cart_item-info .item_price {
            font-size: 1.2rem; }
    .Cart_list .form_carlist .total_price {
      display: flex;
      justify-content: space-between;
      font-size: 1.6rem; }

.body_accountForm {
  background-image: url("/img/banners/banner_sale1.1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  padding: 2rem 0; }
  .body_accountForm .form_account {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh; }
    .body_accountForm .form_account .form_box.disabled {
      display: none; }
    .body_accountForm .form_account .form_box {
      width: 70%;
      border: 1px solid #b8b8b8;
      border-radius: 15px;
      padding: 2rem;
      background-color: rgba(255, 255, 255, 0.959); }
      .body_accountForm .form_account .form_box .heading_box {
        display: flex;
        justify-content: space-between; }
      .body_accountForm .form_account .form_box .errorText {
        color: red;
        line-height: 2rem; }

.accountManage {
  display: flex;
  gap: 40px;
  margin: 2rem auto;
  height: 70vh; }
  .accountManage .list_manage {
    width: 20%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px; }
    .accountManage .list_manage .item_list {
      cursor: pointer;
      color: #999;
      user-select: none; }
    .accountManage .list_manage .item_list.active {
      color: #000;
      font-weight: bold; }
    .accountManage .list_manage a {
      width: 40%; }
  .accountManage .info_account {
    border-left: 1px solid black;
    flex: 1;
    display: flex;
    align-items: center; }
    .accountManage .info_account .logged.information {
      margin: auto;
      width: 80%; }
    .accountManage .info_account .logged.address {
      display: flex;
      gap: 15px;
      margin-left: 15px;
      flex: 1; }
      .accountManage .info_account .logged.address .list_address {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: 20px;
        flex: 1; }
        .accountManage .info_account .logged.address .list_address .form_address .table .controlAddress {
          text-align: right; }
          .accountManage .info_account .logged.address .list_address .form_address .table .controlAddress span.oi {
            margin: 0 0.5rem;
            cursor: pointer; }
        .accountManage .info_account .logged.address .list_address .form_address .table .view_address td {
          width: 75%; }
      .accountManage .info_account .logged.address .form_addAddress {
        width: 30%; }
      .accountManage .info_account .logged.address .disabled {
        display: none !important; }
    .accountManage .info_account .logged.disabled {
      display: none; }
    .accountManage .info_account .unlogged {
      width: 30%;
      height: 50.2vh;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px; }
      .accountManage .info_account .unlogged a {
        width: 40%; }
