<div class="main_footer">
    <div class="container">
        <h3 class="footer_title">Hệ thống cửa hàng</h3>
        <div class="store_location">
            <ul class="location">
                <h6 class="name_location">Hồ Chí Minh</h6>
                <li class="store"><strong>Store 1:</strong> 17bis Huỳnh Đình Hai Phường 14 - Quận Bình Thạnh</li>
                <li class="store"><strong>Store 2:</strong> 332 Cao Đạt Phường 1 - Quận 5</li>
                <li class="store"><strong>Store 3:</strong> 188/16 Thành Thái Phường 12 Quận 10</li>
                <li class="store"><strong>Store 4:</strong> 1002 Quang Trung, Phường 8, Quận Gò Vấp</li>
            </ul>
            <ul class="location">
                <h6 class="name_location">Hà Nội</h6>
                <li class="store"><strong>Store 5:</strong> 79 Nguyễn Khang, Trung Hòa, Cầu Giấy</li>
                <li class="store"><strong>Store 6:</strong> 43 Khâm Thiên - Quận Đống Đa</li>
                <li class="policy d-flex flex-column mt-3">
                    <a href="/introduce" class="policy_link">Chính sách đổi trả</a>
                    <a href="/introduce" class="policy_link">Giới thiệu</a>
                </li>
            </ul>
            <ul class="location">
                <h6 class="policy_link">Hỗ trợ (9:00 - 21:00)</h6>
                <li class="store">
                    <div class="hotline_footer d-flex flex-row">
                        <p><span class="oi oi-phone"></span> 0852407686</p>
                        <p><span class="oi oi-envelope-closed"></span> thanhls1235ls12@gmail.com</p>
                    </div>
                </li>
                <h6 class="policy_link">Phương thức thanh toán</h6>
                <li class="store">
                    <a href="/payments"><i class="cc visa icon"></i></a>
                    <a href="/payments"><i class="money bill alternate icon"></i></a>
                </li>
                <h6 class="policy_link">Theo dõi chúng tôi</h6>
                <li class="policy">
                    <a href="/introduce" class="policy_link"><i class="facebook icon"></i></a>
                    <a href="/introduce" class="policy_link"><i class="instagram icon"></i></a>
                </li>
            </ul>

        </div>
    </div>
</div>