<div class="body_accountForm">
    <div class="container form_account">
        <div class="form_box {{form.form_login}}">
            <form action="/me/account" method="post" class="form_login">
                <div class="heading_box">
                    <h2 class="header">Đăng nhập</h2>
                    <button type="button" class="btn btn-primary btn_changeRegister">Đăng ký</button>
                </div>
                <div class="form-group">
                    <label for="accountName">Tên tài khoản</label>
                    <input type="text" class="form-control" name="accountName" placeholder="Tên tài khoản" required>
                </div>
                <div class="form-group">
                    <label for="accountPwd">Mật khẩu</label>
                    <input type="password" class="form-control"  oninput="removeIvalid(this)" id="accountPwd" placeholder="Mật khẩu" required>
                    <span class="errorText"></span>
                </div>
                <button type="submit" class="btn btn-primary">Đăng nhập</button>
            </form>
        </div>
        <div class="form_box {{form.form_register}}">
            <form action="/me/account" method="post" name="register" class="form_register">
                <div class="heading_box">
                    <h2 class="header">Đăng ký</h2>
                    <button type="button" class="btn btn-primary btn_changeLogin">Đăng nhập</button>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="firstName">Họ và tên</label>
                        <input type="text" name="firstName" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">
                        <label style="opacity: 0;">Họ và tên</label>
                        <input type="text" name="lastName" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="address">Địa chỉ</label>
                    <input type="text" class="form-control" name="address" placeholder="Địa chỉ" required>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Số điện thoại</label>
                    <input type="text" pattern="[0-9]{10}" class="form-control" name="phoneNumber"
                        placeholder="Số điện thoại" required>
                </div>
                <div class="form-group">
                    <label for="accountName">Tên tài khoản</label>
                    <input type="text" class="form-control" oninput="removeIvalid(this)" name="accountName"
                        placeholder="Tên tài khoản" required>
                    <span class="errorText"></span>
                </div>
                <div class="form-group">
                    <label for="accountPwd">Mật khẩu</label>
                    <input type="password" class="form-control" name="password" placeholder="Mật khẩu" required>
                </div>
                <div class="form-group">
                    <label for="accountPwd2">Nhập lại mật khẩu</label>
                    <input type="password" oninput="removeIvalid(this)" class="form-control" id="accountPwd2"
                        placeholder="Nhập lại mật khẩu" required>
                    <span class="errorText"></span>
                </div>
                <button type="submit" class="btn btn-primary">Đăng ký</button>
            </form>
        </div>
    </div>
</div>

<script>

    function removeIvalid(element) {
        const ivalid = element.parentElement.querySelector('span').innerText
        if (ivalid !== '') {
            element.parentElement.querySelector('span').innerText = ''
        }
    }

    document.addEventListener("DOMContentLoaded", function () {

        const formLogin = document.querySelector('.form_login')
        const formRegister = document.forms['register']
        const pwd = formRegister.querySelector('input[name="password"]')
        const pwd2 = formRegister.querySelector('input[id="accountPwd2"]')
        document.addEventListener("click", function (e) {
            if (e.target.classList.contains('btn_changeLogin')) {
                formLogin.parentElement.classList.remove('disabled')
                formRegister.parentElement.classList.add('disabled')
            }
            if (e.target.classList.contains('btn_changeRegister')) {
                formRegister.parentElement.classList.remove('disabled')
                formLogin.parentElement.classList.add('disabled')
            }
        })

        formRegister.onsubmit = function (e) {
            e.preventDefault();
            const data = {
                accountName: this.querySelector('input[name="accountName"]').value,
                password: pwd.value,
                firstName: this.querySelector('input[name="firstName"]').value,
                lastName: this.querySelector('input[name="lastName"]').value,
                address: this.querySelector('input[name="address"]').value,
                phoneNumber: this.querySelector('input[name="phoneNumber"]').value
            }
            if(pwd.value !== pwd2.value) {
                pwd2.parentElement.querySelector('span').innerText = 'Mật khẩu không khớp vui lòng nhập lại!'
            }
            else{
                fetchData('register', data, this)
            }
        }

        formLogin.onsubmit = function (e) {
            e.preventDefault()
            const data = {
                accountName: this.querySelector('input[name="accountName"]').value,
                password: this.querySelector('input[id="accountPwd"]').value
            }
            fetchData('login', data, this)
        }

        function fetchData(auth, data,form) {
            fetch(`http://localhost:3000/me/checkAccount?auth=${auth}`, {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json'
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                body: JSON.stringify(data)
            })
                .then(res => res.json())
                .then(res => {
                    if(!res){
                        if(auth === 'login'){
                            form.querySelector('span').innerText = 'Sai tên tài khoản hoặc mật khẩu !'
                        }
                        else{
                            form.submit()
                        }
                    }
                    else{
                        if(auth === 'login'){
                            form.submit()
                        }
                        else{
                            form.querySelector('input[name="accountName"]').parentElement.querySelector('span').innerText = 'Tài khoản đã tồn tại !'
                        }
                    }
                })
                .catch(() => alert('loi'))
        }
    })
</script>